<mat-card class="custom-card">
    <mat-card-header>
      <mat-card-title> CAMPO VERDE</mat-card-title>
      <mat-card-subtitle>Presidente Peron 1423</mat-card-subtitle>
    </mat-card-header>
    <mat-chip-set aria-label="Dog selection">
        <mat-chip class="custom-chip">
            <mat-icon aria-hidden="false" fontIcon="pin_drop"></mat-icon>
            Hurlingham
        </mat-chip>
        <mat-chip class="custom-chip">
            <mat-icon aria-hidden="false" fontIcon="groups"></mat-icon>
            5
        </mat-chip>
        <mat-chip class="custom-chip">
            <mat-icon aria-hidden="false"  fontIcon="grass"></mat-icon>
            Sintetico
        </mat-chip>
      </mat-chip-set>
      
  </mat-card>