<mat-card class="custom-card" *ngFor="let cancha of canchas">
    <mat-card-header>
      <mat-card-title> {{cancha.name}}</mat-card-title>
      <mat-card-subtitle>{{cancha.address}}</mat-card-subtitle>
    </mat-card-header>
    <mat-chip-set aria-label="Dog selection">
        <mat-chip class="custom-chip">
            <mat-icon aria-hidden="false" fontIcon="pin_drop"></mat-icon>
            {{cancha.city}}
        </mat-chip>
        <mat-chip class="custom-chip">
            <mat-icon aria-hidden="false" fontIcon="groups"></mat-icon>
            {{cancha.size}}
        </mat-chip>
        <mat-chip class="custom-chip">
            <mat-icon aria-hidden="false"  fontIcon="grass"></mat-icon>
            {{cancha.type}}
        </mat-chip>
      </mat-chip-set>
  </mat-card>
