.custom-card {
    background-color: #ffffffe7; /* Fondo personalizado */
    color: #16410c; /* Texto personalizado */
    border: 1px solid #ffffffe7; /* Borde */
    box-shadow: 2px 2px 5px #16410c; /* Sombra */
    margin: 3px 10px;
    padding: 15px;
    position: relative;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .details-button {
    color: #ffffffe7;
    margin-left: auto;
  }

  mat-icon{
    color: #16410c;
  }
   mat-card-header{
    margin: 0px;
    padding: 0px;
   }
    .custom-card mat-card-subtitle {
        color: #16410c; 
    }
    .card-actions {
      display: flex;
      justify-content: flex-end;
    }


      