<mat-divider></mat-divider>
<br><br>

<div>
  <h2><b>Agregar una cancha al sitio web.</b></h2>
  <h3 style="margin: 0 20%;">
Si cononces una cancha que no se encuentra en el portal, 
podes agregarla haciendo <b>click</b> en el siguiente link.
</h3>  
<button mat-raised-button  (click)="redirectToForm()">Agregar Cancha</button>
<br><br>
  <h4>
    Gracias por colaborar con el proyecto.
  </h4>
  </div>
<script>
  function redirectToForm() {
    window.location.href = 'https://forms.gle/yju1D2zf1B3bzgR98';
  }
</script>
