<form class="row gx-3 gy-2 align-items-center m-2">

    <div class="col-sm-5">
        <label class="visually-hidden" for="specificSizeSelect">Preference</label>
        <select class="form-select" id="specificSizeSelect">
          <option selected value="">TODAS LAS CIUDADES</option>
          <option value="{{ciudad}}" *ngFor="let ciudad of cities">{{ciudad}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label class="visually-hidden" for="specificSizeSelect">Preference</label>
        <select class="form-select" id="specificSizeSelect">
          <option selected value="">TODO TIPO DE SUELO</option>
          <option value="Sintetico">Sintetico</option>
          <option value="Cesped">Cesped</option>
          <option value="Piso">Piso</option>
        </select>
      </div>
    <div class="col-sm-2">
      <label class="visually-hidden" for="specificSizeSelect">Preference</label>
      <select class="form-select" id="specificSizeSelect">
        <option selected value="">N°</option>
        <option value="5">5</option>
        <option value="7">7</option>
        <option value="11">11</option>
      </select>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>

  </form>