  <form (ngSubmit)="applyFilter()" class="row g-3 m-1">
    <div class="col-md-4 col-12">
      <label class="visually-hidden" for="specificCitySelect">CIUDAD</label>
      <select class="form-select" id="specificCitySelect" [(ngModel)]="filtro.city" name="city">
        <option selected value="">TODAS LAS CIUDADES</option>
        <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
      </select>
    </div>
    <div class="col-md-4 col-12">
      <label class="visually-hidden" for="specificSizeSelect">TAMAÑO</label>
      <select class="form-select" id="specificSizeSelect" [(ngModel)]="filtro.size" name="size">
        <option selected value="">TODOS LOS TAMAÑO</option>
        <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
      </select>
    </div>
    <div class="col-md-2 col-12">
      <label class="visually-hidden" for="specificTypeSelect">TIPO</label>
      <select class="form-select" id="specificTypeSelect" [(ngModel)]="filtro.type" name="type">
        <option selected value="">TODOS LOS TIPOS</option>
        <option *ngFor="let type of types" [value]="type">{{ type }}</option>
      </select>
    </div>
    <div class="d-grid col-md-2 col-12">
      <button type="submit" class="btn btn-outline-success">Filtrar</button>
    </div>
  </form>